.fragment_45741 {
  counter-reset: highlightCounter;
}

.fragment_45741 .card::before {
  background-color: #6c757d;
  border-radius: 100%;
  color: #fff;
  content: counter(highlightCounter);
  counter-increment: highlightCounter;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  width: 3rem;
}