.highlighted-features {
  color: inherit;
}

.highlighted-features .screenshot {
  width: 100%;
}

.highlighted-features h3 {
  position: relative;
}

.highlighted-features h3::before,
.highlighted-features h3::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  height: 3px;
}

.highlighted-features h3::before {
  background-color: var(--info);
  width: 15%;
}

.highlighted-features h3::after {
  background-color: var(--light);
  width: 85%;
  right: 0;
}
